In [1]:
import pandas as pd

In [3]:
bfriday =pd.read_csv("Desktop/````/BlackFriday.csv")

In [4]:
bfriday.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871

In [5]:
bfriday.shape

(537577, 12)

In [7]:
bfriday['Stay_In_Current_City_Years'].value_counts()

1     189192
2      99459
3      93312
4+     82889
0      72725
Name: Stay_In_Current_City_Years, dtype: int64

In [8]:
bfriday.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [9]:
b = ['Product_Category_2' , 'Product_Category_3']

In [11]:
for i in b:
    exec("bfriday.%s.fillna(bfriday.%s.value_counts().idxmax(), inplace=True)" %(i,i))

In [13]:
x = bfriday.drop(["Purchase"] , axis=1)

In [15]:
from sklearn.preprocessing import LabelEncoder 
LE = LabelEncoder()

In [16]:
x = x.apply(LE.fit_transform)

In [18]:
Y = bfriday["Purchase"]

In [19]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()

In [20]:
xs = SS.fit_transform(x)

In [23]:
from sklearn.decomposition import PCA
pc = PCA(4)

In [26]:
principalComponents = pc.fit_transform(x)

In [28]:
pc.explained_variance_ratio_

array([7.35761510e-01, 2.64215790e-01, 1.11932596e-05, 6.28064654e-06])

In [30]:
principalDf = pd.DataFrame(data = principalComponents, columns = ["component 1", "component 2", "component 3", "component 4"])

In [32]:
from sklearn.model_selection import KFold
kf = KFold(20)

In [34]:
for a,b in kf.split(principalDf):
    x_train, x_test = xs[a],xs[b]
    y_train, y_test = Y[a],Y[b]

In [35]:
from sklearn.linear_model import LinearRegression